.btn {
  border-radius: 8px;
  cursor: pointer;
  transition: ease-in 0.2s;

  color: var(--light-color);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--accent-color);
  padding: 2rem 4rem;
  display: inline-block;
  &:hover,
  &:active {
    background-color: var(--light-color);
    color: var(--accent-color);
  }

  &--big {
    padding: 20px 70px;
    font-size: 20px;
    font-weight: 700;
    line-height: 70%; /* 70% */
    text-transform: uppercase;
  }
  &--light {
    background-color: var(--light-color);
    color: var(--accent-color);
    &:hover,
    &:active {
      background-color: var(--accent-color);
      color: var(--light-color);
      opacity: 0.75;

    }
  }
}
