@import "nav";
@import "btn";
.header {
  width: 100%;
  padding-top: clamp(2.5rem,  10 * (1vw + 1vh) / 2, 5.7rem);
  position: absolute;

  &__container {
    display: flex;
    align-items: center;
  }
}

.nav__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.burger {
  display: none;
}

@media (max-width: 1110px) {
  .nav__header {
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  .logo{
    max-width: 200px;
  }
  .header{
    padding-top: 60px;
  }

  .burger {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 80px;
    transform: translateY(-50%);
    right: 15px;
    z-index: 999;

    &__line {
      display: block;
      position: relative;
      width: 22px;
      height: 2px;
      background-color: var(--accent-color);
      transform: translate(40%);
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 22px;
        height: 2px;
        background-color: inherit;
        transition: all ease-in 0.3s;
      }
      &::before {
        bottom: 5px;
        transform: translate(-50%);
      }
      &::after {
        bottom: -5px;
        transform: translate(-50%);
      }
    }
    &.open{
      .burger__line {
        background-color: transparent;
        &::before,
        &::after {
          background-color: var(--accent-color);
          bottom: 0;
        }

        &::before {
          transform: translate(-50%) rotate(45deg);
        }
        &::after {
          transform: translate(-50%) rotate(-45deg);
        }
      }
    }
  }
}
