.hero {
  color: var(--light-color);
  text-align: right;
  font-size: clamp(4rem, 10 * (1vw + 1vh) / 2, 11.5rem);
  line-height: 104.348%;
  text-transform: uppercase;
  background-image: url(../img/bg-hero.jpg);
  background-image: url(../img/bg-hero.webp);
  background-repeat: no-repeat;
  background-position: left -35rem top;
  background-size: cover;
  padding: var(--p-top-section) 0;

  &__content {
    max-width: 733px;
    display: flex;
    flex-direction: column;
    max-width: 733px;
    margin-left: auto;
    margin-bottom: 3.4rem;
    border-bottom: 1px solid var(--second-dark);
  }

  &__title {
    // font-size: clamp(28rem, 18.857rem + 28.571vw, 60rem);
    margin-top: 18.7rem;
    margin-bottom: 4rem;
    line-height: 1.1;
    font-weight: 800;
  }
  &__desc {
    color: var(--light-color);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 108%;
    display: block;
    margin-left: auto;
    text-transform: none;
    max-width: 38.3rem;
    margin-bottom: 3.8rem;
  }
  &__link {
    color: var(--light-color);
    font-size: 2rem;
    font-weight: 700;
    line-height: 70%; /* 70% */
    text-transform: uppercase;
    background-color: var(--accent-color);
    padding: 2rem 4rem;
    display: inline-block;
    &:hover,
    &:active {
      opacity: 0.75;
    }
  }
  &__footer {
    font-size: initial;
    line-height: normal;
  }
}
