// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: BebasNeuePro, sans-serif;
  --content-width: 1410px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --title-font-size: clamp(3rem, 10 * (1vw + 1vh) / 2, 9rem);
  --p-bottom-desc: clamp(3.2rem, 2.057rem + 3.571vw, 7.2rem);
  // colors
  --text-color: #bcbdbf;
  --light-color: #fff;
  --second-dark: #545454;
  --third-dark: #232321;
  --bg-page: #1c1c1a;
  --accent-color: #247894;
  --p-top-section: clamp(4.5rem, 3.214rem + 4.018vw, 9rem);
}
